<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-1 logo-footer">
        <img
          src="assets/images/logo-footer.png"
          class="img-fluid"
          alt=""
          srcset=""
        />
      </div>
      <div class="col-md-2 d-none d-sm-block">
        <p>DERCO PERÚ S.A. Respalda y Garantiza</p>
        <p>
          Casa Matriz: Av. Nicolás Ayllón 2648 – Ate
        </p>
      </div>
      <div class="col-md-2 d-none d-sm-block">
        <p>Central Telefónica 7 1 3 – 5 0 0 0</p>
        <p>Servicio técnico 7 1 3 – 5 0 5 0</p>
      </div>

      <div class="col-12 d-block d-sm-none">
        <p><strong>DERCO PERÚ S.A. </strong>Respalda y Garantiza</p>
        <p><strong>Casa Matriz:</strong> Av. Nicolás Ayllón 2648 – Ate</p>
        <p><strong>Central Telefónica</strong> 7 1 3 – 5 0 0 0</p>
        <p><strong>Servicio técnico</strong> 7 1 3 – 5 0 5 0</p>
      </div>
      <div class="col-md-7 col-12">
        <div class="redes">
          <a href="#" class="btn-facebook"
            ><img src="assets/images/facebook.png" width="33" alt="facebook"
          /></a>
          <a href="#" class="btn-twitter"
            ><img src="assets/images/twitter.png" width="33" alt="twitter"
          /></a>
          <a href="#" class="btn-youtube" width="33">
            <img src="assets/images/youtube.png" width="33" alt="youtube" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="footer2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center">
        <p>
          2018 Todos los derechos reservados DERCO PERÚ S.A. | Información legal
          | info@derco.com.pe | Powered by Likeseasons
        </p>
      </div>
    </div>
  </div>
</section>
