<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-1 logo-footer">
        <img
          src="assets/images/logo-footer.png"
          class="img-fluid"
          alt=""
          srcset=""
        />
      </div>
      <div class="col-md-2 d-none d-sm-block">
        <p><strong>DERCO PERÚ S.A.</strong> Respalda y Garantiza</p>
        <p><strong>Casa Matriz:</strong> Av. Nicolás Ayllón 2648 – Ate</p>
      </div>
      <div class="col-md-2 d-none d-sm-block">
        <p><strong>Central Telefónica</strong> 713 – 5000</p>
        <p><strong>Servicio técnico</strong> 713 – 5050</p>
      </div>

      <div class="col-12 d-block d-sm-none">
        <p><strong>DERCO PERÚ S.A. </strong>Respalda y Garantiza</p>
        <p><strong>Casa Matriz:</strong> Av. Nicolás Ayllón 2648 – Ate</p>
        <p><strong>Central Telefónica</strong> 713 – 5000</p>
        <p><strong>Servicio técnico</strong> 713 – 5050</p>
      </div>
      <div class="col-md-7 col-12">
        <div class="redes">
          <strong>siguenos en:</strong>
          <a
            href="https://www.facebook.com/DercoPeru/"
            target="_blank"
            class="btn-facebook"
            ><img src="assets/images/facebook.png" width="33" alt="facebook"
          /></a>
          <a
            href="https://twitter.com/derco_peru"
            target="_blank"
            class="btn-twitter"
            ><img src="assets/images/twitter.png" width="33" alt="twitter"
          /></a>
          <a
            href="https://www.youtube.com/channel/UCHlQLjbcPFZk38sWRl8AFRA"
            target="_blank"
            class="btn-youtube"
            width="33"
          >
            <img src="assets/images/youtube.png" width="33" alt="youtube" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="footer2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center">
        <p>
          

          2019 Todos los derechos reservados DERCO PERÚ S.A. | Información legal | info@derco.com.pe
        </p>
      </div>
    </div>
  </div>
</section>
