<section id="legal">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <p>
          <strong>Legales:</strong> 
          <!--Promoción “25 días de locura” es válida a nivel nacional en las tiendas de la Red de Concesionarios Dercocenter identificadas con la presente promoción desde el día 17 de octubre al 10 de noviembre de 2019 y/o hasta agotar el stock de 504 unidades disponibles (stock mínimo 01 unidad por modelo).
          Las imágenes y características de los vehículos son referencias. Para más información sobre los descuentos promocionales, modelos y versiones aplicables, consulte con su asesor comercial sobre el stock de vehículos disponible en la tienda Dercocenter de su preferencia.
          El beneficio de hasta 35 % corresponde al descuento máximo que aplica exclusivamente para los modelos de vehículos seleccionados según la relación publicada en el
           <a href="Derco_lista_stock.pdf" target="_blank">  siguiente link</a>. 
           La presente promoción no es acumulable con otros beneficios y descuentos. Se aplican restricciones.
Durante el periodo promocional, contarás con el beneficio de comprar tu auto “Sin inicial”  o “paga tu auto en el 2020” que aplica para compras de cualquier vehículo incluido en la campaña exclusivamente a través de un financiamiento con AMICAR, quien de forma independiente establecerá las 
condiciones particulares de estos beneficios y los requisitos que el cliente deberá cumplir para su calificación al crédito solicitado.
        </p>-->

        Promoción “25 días de locura” es válida a nivel nacional en las tiendas de la Red de Concesionarios Dercocenter identificadas con la presente promoción desde el día 17 de octubre al 10 de noviembre de 2019 y/o hasta agotar el stock de 504 unidades disponibles (stock mínimo 01 unidad por modelo).
 
          Las imágenes y características de los vehículos son referenciales. Para más información sobre los descuentos promocionales, modelos y versiones aplicables, consulte con su asesor comercial sobre el stock de vehículos disponible en la tienda Dercocenter de su preferencia.
           
          El beneficio de hasta 35 % corresponde al descuento máximo que aplica exclusivamente para los modelos de vehículos seleccionados según la relación publicada en el <a href="Derco_lista_stock.pdf" target="_blank">siguiente link</a> a continuación. </p>
          <p> La presente promoción no es acumulable con otros beneficios y descuentos.
           
          Tipo de cambio referencial a S/.3.40 sujeto a fluctuaciones del mercado. Precios incluyen impuesto de ley vigentes a la fecha de cotización. No incluyen tramite de tarjeta y placas, traslado a provincia ni accesorios adicionales. Fotos son referenciales.
          Durante el periodo promocional, contarás con el beneficio de comprar tu auto “Sin inicial”  o “paga tu auto en el 2020” que aplica para compras de cualquier vehículo incluido en la campaña exclusivamente a través de un financiamiento con AMICAR, quien de forma
           independiente establecerá las condiciones particulares de estos beneficios y los requisitos que el cliente deberá cumplir para su calificación al crédito solicitado.</p>
      </div>
    </div>
  </div>
</section>
