<section id="legal">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <p>
          Legales: (*) LPromoción “25 días de locura” es válida a nivel nacional
          en las tiendas de la Red de Concesionarios Dercocenter identificadas
          con la presente promoción desde el día 17 de octubre al 10 de
          noviembre de 2019 y/o hasta agotar el stock de 504 unidades
          disponibles (stock mínimo 01 unidad por modelo). Las imágenes y
          características de los vehículos son referencias. Para más información
          sobre los descuentos promocionales, modelos y versiones aplicables,
          consulte con su asesor comercial sobre el stock de vehículos
          disponible en la tienda Dercocenter de su preferencia. El beneficio de
          hasta 35 % de descuento aplica para los modelos de vehículos
          seleccionados según la relación publicada en el siguiente link. La
          presente promoción no es acumulable y Durante el periodo promocional,
          contarás con el beneficio de comprar tu auto “Sin inicial” que aplica
          para compras de cualquier vehículo incluido en la campaña a través de
          un financiamiento con AMICAR, quien de forma independiente establecerá
          las condiciones particulares que el cliente deberá cumplir para su
          calificación al crédito solicitado. La presente promoción no se
          acumulable con otras campañas y/o descuentos.
        </p>
      </div>
    </div>
  </div>
</section>
