<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 d-none d-sm-block">
        <img
          src="assets/images/BANNER_WEB.jpg"
          class="img-fluid"
          alt="DERCO PERÚ | 25 días de locura"
          
        />
      </div>

      <div class="col-md-12 d-block d-sm-none">
        <img
          src="assets/images/BANNER_MOBILE.jpg"
          class="img-fluid"
          alt="DERCO PERÚ | 25 días de locura"
          
        />
      </div>
    </div>
  </div>
</section>
